body {
    background-color: #f0f0f0; 
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #0c0202;
    line-height: 1.6;
}

a {
    color: #007bff;
    text-decoration: none;
}

.poshta{
    font-size: 20px;
    color:hsl(10, 93%, 62%);
    text-align: center;
    font-style: Tahoma ;
    font-weight: bold
}

ul {
    list-style-type: square; 
    margin: 15px 0; 
    padding-left: 20px;
    color: #750360; 
    font-family: 'Times New Roman', Times, serif; 
    background-color: #f5ecec; 
}

dl {
    margin: 20px 0; 
}

dt {
    font-weight: bold; 
}

dd {
    color: #8d8f8d; 
}