body{
        background-color: #BC8F8F;
        font-family: 'Arial', sans-serif;
        font-size: 16px;
        color: #0c0202;
        line-height: 1.6;
       
}

h1{
    font-size: 25px !important;
    color: #2d0101 !important;
    font-style: italic !important;
    line-height: 1.5 !important;
    text-align: center !important;
}

body a {
    color: #007bff;
    text-decoration: none;
}

#navigator {
    margin-top: 20px; 
}

table {
    width: 100%; 
}


td {
    padding: 10px;
    text-align: center; 
    border: 1px solid #ddd; 
    background-color: #f9f9f9; 
}





